@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>See otherwise</h1>
    <p class="lead">

        is an application that allows us to see the world as from another reality. Upload your photos and use any of the available filters and look at them from a different angle.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>First filter</h2>
        <p>
            This is first filter, made by Mariusz Hoang
        </p>
        <h3>@Html.ActionLink("Show Filter1", "Filter1", "Home")</h3>
    </div>
    <div class="col-md-4">
        <h2>Secound filter</h2>
        <p>
            This is secount filter, made by Marcin Czarnecki
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Third filter</h2>
        <p>
            This is third filter, made by Marcin Krupnik
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
